
.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.formulario {
    padding: 40px 0;
    /* border: 1px solid blue; */
    
    width: 50vw;
    max-width: 550px;
}

.seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seccion-programa {
    margin-bottom: 45px;
}

.titulo {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.contenedor-inputs {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-input:first-child {
    margin-top: 20px;
}

.contenedor-input:not(#varios-recursos) {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* A TRABAJAR CON LOS CONTENEDORES PARA AGREGAR MAS RECURSOS
#varios-recursos {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contenedor-recursos {
    width: 100%;

}

.contenedor-recurso {
    width: 100%;
    display: flex;

}

.input-recurso {

}

.contenedor-botones-recurso {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.boton-recurso {
    cursor: pointer;
}

#agregar-recurso {
    font-size: 24px;
    margin-right: 10px;
    color: #28a745;
}

#agregar-recurso:hover {
    color: #218838;
}

#quitar-recurso {
    font-size: 24px;
    color: #dc3545;
}

#quitar-recurso:hover {
    color: #c82333;
} */

/* **************** */

.contenedor-input label {
    font-weight: bold;
    margin-bottom: 15px;
}
.input {
    width: 100%;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 5px;
    font-size: 1rem;
}

/* .contenedor-inputs-recurso {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.contenedor-cantidad-recursos {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px 0 10px;
}

.contenedor-cantidad-recursos label {
    font-weight: bold;
    width: 160%;
}

.contenedor-recursos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-recurso {
    width: 100%;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#agregar-recurso {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: 1px solid #28a745;
    border-radius: 8px;
}

#agregar-recurso:hover {
    background-color: #218838;
}

.boton-quitar {
    font-size: 30px;
    color: #dc3545;
}

.boton-quitar:hover {
    color: #c82333;
}



/* Estilos para el separador <hr> */
.separador {
    width: 100%;
    border: 1px solid black;
}

.contenedor-boton {
    margin: 20px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-boton button {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 8px 30px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
}

.contenedor-boton button:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
    /* font-size: 1.1rem; */
}

